form {
    margin-top: 6%;
    margin-bottom: 10% !important;
}

.title-forms {
    text-align: center;
    margin-bottom: 5%;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

form input[type="submit"] {
    margin-top: 10%;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-color: unset;
    height: 40px;
}

.container {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

input:focus~label, input:valid~label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

input~label {
    position: absolute;
    top: 16px;
    left: 0;
    color: rgba(255, 255, 255, 0.6);
    transition: .4s;
}

.error {
    color: red;
}

.input span.error {
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.input-adicionar{
    letter-spacing: unset !important;
    margin-top: unset !important;
    padding: unset !important;
    width: unset !important;
    background: unset !important;
    cursor: unset !important;
    color: #000 !important;
    border:0 !important;
    font-size: 35px !important;
    float: right;
    font-weight: unset !important;
    border-radius: unset !important;
    transition: unset !important;
    border-color: unset !important;
    height: 40px !important;
}

.input-adicionar:hover {
    letter-spacing: unset !important;
    background: transparent !important;
}