form{
    margin-top: 6%;
    margin-bottom: 10% !important;
}

.title-forms{
    text-align: center;
    margin-bottom: 5%;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}
form input[type="submit"] {
    margin-top: 10%;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-color:unset;
    height: 40px;
}

.container{
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}