:root {
  --white: #FFFFFF;
  --greyLight-2: #c8d0e7;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

html, .carousel, .carousel-inner, .carousel-inner .item {
  height: 100%;
}

*, ::after, ::before {
  box-sizing: unset;
}

/*navbar*/
.navbar {
  width: 100%;
  height: 70px;
  font-size: 21px;
  font-family: 'Open Sans';
  background-color: #001D26!important;
}

.navbar-nav {
  margin-left: 42%;
}

.navbar-nav ul {
  padding: 30px;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #fff !important;
}

.navbar-toggler-icon {
  background-color: #7eb444;
}

.btn-projeto {
  background-color: #8FBACC;
  border-radius: 50px;
  height: 15px 5px 0px;
}

.slider-position{
  margin-top: auto;
  margin-bottom: auto;
}
/*Primeiro Slider*/

.slider-one {
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-one {
  color: #747474;
  font-weight: bold;
  margin-top: 85px;
  margin-left: 120px;
  position: absolute;
}

/*Segundo slider*/

.slider-two {
  margin-top: -1.5%;
  background-color: #5798B2;
  opacity: 80%;
  height: 100%;
  z-index: -10px;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-two {
  color: #fff;
  font-weight: bold;
  position: absolute;
  margin-top: 85px;
  margin-left: 65%;
}

/*Terceiro slider*/

.slider-three {
  margin-top: 0;
  display: flow-root;
  background-color: #f7f7ff;
  height: 100%;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-three {
  color: #747474;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: table;
  position: relative;
}

.logo-position {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.bottom-start {
  color: #fff;
  font-size: 20px;
  background-color: #8FBACC;
  font-weight: bold;
  border-radius: 42px;
  border: 1px solid #8FBACC;
  display: table;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 23px;
  padding: 10px 80px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white) !important;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #747474;
  font-weight: bold;
  margin-bottom: auto;
  background-color: #f7f7ff;
  height: 35px;
}


/*Carrossel*/

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

@media only screen and (min-width:1001px) and (max-width: 3000px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  position: relative !important;
  overflow: hidden !important;
  width: 100%;
  padding-right: unset !important;
  padding-left: unset !important;
  margin-right: unset !important;
  margin-left: unset !important;
  max-width: unset !important;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 500%;
  height: 100%;
  max-height: 1000px;
  min-height: 630px;
  transition: all 0.25s ease-in;
  transform: translateX(0);
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

.slider .box {
  height: 100%;
  max-height: 1000px;
  min-height: 630px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}

.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}

.slider .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}

@media only screen and (max-width: 650px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
  }
}

.slider .box .details h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.slider .box .details p {
  display: inline-block;
  font-size: 1.9rem;
  color: #B5B4B4;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

@media only screen and (max-width: 800px) {
  .slider .box .details p {
    margin-right: 0;
  }
}

.slider .box .details button {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider .box .details button:hover {
  opacity: 0.8;
}

.slider .box .details button:focus {
  outline: none;
  border: none;
}

.slider .box1 {
  background-color: #500033;
}

.slider .box1 .illustration .inner {
  background-color: #FF0077;
}

.slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
  background-color: rgba(255, 0, 119, 0.4);
}

.slider .box1 button {
  background-color: #FF0077;
}

.slider .box2 {
  background-color: #000050;
}

.slider .box2 .illustration .inner {
  background-color: #0033FF;
}

.slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
  background-color: rgba(0, 51, 255, 0.4);
}

.slider .box2 button {
  background-color: #0033FF;
}

.slider .box3 {
  background-color: #00501D;
}

.slider .box3 .illustration .inner {
  background-color: #00FF44;
}

.slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
  background-color: rgba(0, 255, 68, 0.4);
}

.slider .box3 button {
  background-color: #00FF44;
}

.slider .box4 {
  background-color: #554D00;
}

.slider .box4 .illustration .inner {
  background-color: #FF4E00;
}

.slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
  background-color: rgba(255, 78, 0, 0.4);
}

.slider .box4 button {
  background-color: #FF4E00;
}

.slider .box5 {
  background-color: #300050;
}

.slider .box5 .illustration .inner {
  background-color: #8000FF;
}

.slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
  background-color: rgba(128, 0, 255, 0.4);
}

.slider .box5 button {
  background-color: #8000FF;
}

.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}

@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}

@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}

.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}

.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}

.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev, .next, .trail {
  z-index: 10000;
  position: absolute;
}

.prev, .next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 650px) {
  .prev, .next {
    display: none;
  }
}

.prev:hover, .next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
    margin-bottom: -25%;
    color: #fff;
  }
}

.trail div {
  padding: 2rem;
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}


.app {
  z-index: 1;
}
.app__bgimg {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  height: 100%;
  transition: transform 3.5s 770ms;
}
.app__bgimg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.app__bgimg-image--1 {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city22222.jpg") center center no-repeat;
  background-size: cover;
}
.app__bgimg-image--2 {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/forest.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0ms 1300ms;
  will-change: opacity;
}
.app__text {
  position: absolute;
  right: 165px;
  top: 150px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  z-index: 1;
}
.app__text-line {
  transition: transform 1500ms 400ms, opacity 750ms 500ms;
  will-change: transform, opacity;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.app__text-line--4 {
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}
.app__text-line--3 {
  transition: transform 1500ms 1600ms, opacity 1500ms 1750ms;
}
.app__text-line--2 {
  transition: transform 1500ms 1700ms, opacity 1500ms 2000ms;
}
.app__text-line--1 {
  transition: transform 1500ms 1800ms, opacity 1500ms 2250ms;
}
.app__text-line--4 {
  font-size: 50px;
  font-weight: 700;
  color: #0A101D;
}
.app__text-line--3 {
  font-size: 40px;
  font-weight: 300;
}
.app__text-line--2 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #0099CC;
}
.app__text-line--1 {
  margin-top: 15px;
}
.app__text-line--1 img {
  width: 50px;
}
.app__text--1 .app__text-line {
  transform: translate3d(0, -125px, 0);
  opacity: 0;
}
.app__text--2 {
  right: initial;
  top: 250px;
  left: 80px;
  z-index: -1;
  transition: z-index 1500ms;
}
.app__text--2 .app__text-line--4 {
  opacity: 0;
  transition: transform 1500ms -75ms, opacity 400ms 125ms;
}
.app__text--2 .app__text-line--3 {
  opacity: 0;
  transition: transform 1500ms 0ms, opacity 400ms 200ms;
}
.app__text--2 .app__text-line--2 {
  opacity: 0;
  transition: transform 1500ms 75ms, opacity 400ms 275ms;
}
.app__text--2 .app__text-line--1 {
  opacity: 0;
  transition: transform 1500ms 150ms, opacity 400ms 350ms;
}
.app__img {
  position: absolute;
  transform: translate3d(0, -750px, 0);
  width: 850px;
  height: 100%;
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  will-change: transform;
}
.app__img img {
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.initial .app__img {
  transform: translate3d(0, 0, 0);
}
.initial .app__text--1 .app__text-line--1 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1400ms, opacity 400ms 1600ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--2 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1475ms, opacity 400ms 1675ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--3 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1550ms, opacity 400ms 1750ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--4 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1625ms, opacity 400ms 1825ms;
  opacity: 1;
}

.active .app__bgimg {
  transform: translate3d(10px, 0, 0) scale(1.05);
  transition: transform 5s 850ms ease-in-out;
}
.active .app__bgimg .app__bgimg-image--2 {
  opacity: 1;
  transition: opacity 0ms 1500ms;
}
.active .app__img {
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transform: translate3d(0, -1410px, 0);
}
.active .app__text--1 {
  z-index: -1;
  transition: z-index 0ms 1500ms;
}
.active .app__text--1 .app__text-line--1 {
  transform: translate3d(0, -125px, 0);
  transition: transform 1500ms 300ms, opacity 400ms 500ms;
  opacity: 0;
}
.active .app__text--1 .app__text-line--2 {
  transform: translate3d(0, -125px, 0);
  transition: transform 1500ms 375ms, opacity 400ms 575ms;
  opacity: 0;
}
.active .app__text--1 .app__text-line--3 {
  transform: translate3d(0, -125px, 0);
  transition: transform 1500ms 450ms, opacity 400ms 650ms;
  opacity: 0;
}
.active .app__text--1 .app__text-line--4 {
  transform: translate3d(0, -125px, 0);
  transition: transform 1500ms 525ms, opacity 400ms 725ms;
  opacity: 0;
}
.active .app__text--2 {
  z-index: 1;
}
.active .app__text--2 .app__text-line--1 {
  transform: translate3d(0, -125px, 0);
  transition: transform 2500ms 1100ms, opacity 1300ms 1300ms;
  opacity: 1;
}
.active .app__text--2 .app__text-line--2 {
  transform: translate3d(0, -125px, 0);
  transition: transform 2500ms 1175ms, opacity 1300ms 1575ms;
  opacity: 1;
}
.active .app__text--2 .app__text-line--3 {
  transform: translate3d(0, -125px, 0);
  transition: transform 2500ms 1250ms, opacity 1300ms 1850ms;
  opacity: 1;
}
.active .app__text--2 .app__text-line--4 {
  transform: translate3d(0, -125px, 0);
  transition: transform 2500ms 1325ms, opacity 1300ms 2125ms;
  opacity: 1;
}

.mouse {
  position: relative;
  margin-right: 20px;
  min-width: 50px;
  height: 80px;
  border-radius: 30px;
  border: 5px solid rgba(255, 255, 255, 0.8);
}
.mouse:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: scroll 1s infinite alternate;
          animation: scroll 1s infinite alternate;
}
@-webkit-keyframes scroll {
  100% {
    transform: translate(-50%, 15px);
  }
}
@keyframes scroll {
  100% {
    transform: translate(-50%, 15px);
  }
}

.pages {
  margin-left: 20px;
  z-index: 2;
  position: fixed;
  margin-top: 10%;
}
.pages__list {
  list-style-type: none;
  z-index: 2;
}
.pages__item {
  position: relative;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  cursor: pointer;
  z-index: 2;
}
.pages__item:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transition: 500ms;
  z-index: 2;
}
.pages__item:hover:after {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.page__item-active:after {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 50px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}