
.slider-principal{
  width: 100%;
  height:100%;
  min-height: 300px;
  min-height:1200px;
  margin-top: 69px;
  background-color: #1e1842;
}
.btn-projeto {
  background-color: #8FBACC;
  border-radius: 50px;
  height: 15px 5px 0px;
}

.slider-position{
  margin-top: auto;
  margin-bottom: auto;
}
/*Primeiro Slider*/

.slider-one {
  margin-top: -1.5%;
  background-color: #f7f7ff;
  height: 100%;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-one {
  color: #747474;
  font-weight: bold;
  margin-top: 85px;
  margin-left: 120px;
  position: absolute;
}

/*Segundo slider*/

.slider-two {
  margin-top: -1.5%;
  background-color: #5798B2;
  opacity: 80%;
  height: 100%;
  z-index: -10px;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-two {
  color: #fff;
  font-weight: bold;
  position: absolute;
  margin-top: 85px;
  margin-left: 65%;
}

/*Terceiro slider*/

.slider-three {
  margin-top: 0;
  display: flow-root;
  background-color: #f7f7ff;
  height: 100%;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}

.title-three {
  color: #747474;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: table;
  position: relative;
}

.logo-position {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.bottom-start {
  color: #fff;
  font-size: 20px;
  background-color: #8FBACC;
  font-weight: bold;
  border-radius: 42px;
  border: 1px solid #8FBACC;
  display: table;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 23px;
  padding: 10px 80px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white) !important;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #747474;
  font-weight: bold;
  margin-bottom: auto;
  background-color: #f7f7ff;
  height: 35px;
}


